* {margin: 0; padding: 0; color: black; list-style: none; text-decoration: none;}
body{overflow: hidden; background: rgba(255, 255, 255, 0.8);}
img{vertical-align: middle;}


/* header */
.login{margin:20 20 0 0px; }
.logo{float: left;}
header{z-index: 0;}
.header {display: flex; justify-content: space-around; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 20%; position: fixed; text-align: center;}
.menu{margin-top: 100px;}
.menu>li {width: 150px; float: left; height: 50px; border-top: 1px solid black;}
.sub_menu>li {height: 0px; transition: .3s; overflow: hidden;}
.sub_menu2>li {height: 0px;}
.menu>li:hover .sub_menu>li {height: 30px;border-bottom: 1px solid black;text-decoration: double;}

/* popup */
.popup:target{display: block;}
.popup{position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.8); display: none;}
.popup>div{background: rgba(255, 255, 255, 1); margin: -100px auto; z-index: 10; width: 250px; height: 300px; position: fixed; top: 40%; bottom: 0; left: 0; right: 0; }
.popup form{margin: 0 auto;}
.popup input{width: 200px; height: 20px; border: 1px solid black; border-radius: 3px; padding: 5px 12px; margin: 0 10px;}
.popup input:nth-child(2){margin-top: 30px;}
.popup p{text-align: center; font-weight: bold;}
.popup button{margin: 0 auto;}
.popup .photo{width: 50px; margin: 0 auto; border-bottom: 1px so}
.popup img{width: 100%;}
.popup .line{width: 100%; margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.7);}
.popup .loginLine{margin-bottom: 20px; margin-top: 10px;}
.popup .loginButton{background: rgba(17, 78, 128, 0.507); border: 0.5px solid green; width: 150px; height: 25px; border-radius: 2px; margin: 3px auto;}
.popup .loginButton p{color: #fff;}

.popup .btns{display: flex; flex-direction: column;}

/* content */
.content{width: 700px; height: 300px; margin: auto;margin-top: 200px; z-index: 0;}

      /* slide */
.slide{width: 100%; height: 300px; overflow: hidden; float: right;}
.slide li{height: 300px;}
.slide li:nth-child(1){background-image: url(/img/silde1.png);}
.slide li:nth-child(2){background-image: url(/img/silde2.jpg);}
.slide li:nth-child(3){background-image: url(/img/silde3.jpg);}

/* side_content */

.side_content{ float: left; margin-top: 30px;}
.side_content2{ float: left; margin-top: 30px; margin-left: 30px;}
.evnt {width: 200px; height: 200px;}
.evnt li{height: 100px; width: 100px; float: left;}
.evnt li:nth-child(1){background-image: url(/img/silde2.jpg);}
.evnt li:nth-child(2){background-image: url(/img/silde1.png);}
.evnt li:nth-child(3){background-image: url(/img/silde3.jpg);}
.evnt li:nth-child(4){background-image: url(/img/silde3.jpg);}
.side_content p{font-weight: bold; border-top: 1px solid black;}
.side_content2 p{font-weight: bold; border-top: 1px solid black;}

/* comments */
.comments{margin-top: 30px; float: right; height: 200px;}
.comments p{font-weight: bold; border-top: 1px solid black; text-align: right;}
.comments>li{margin-top: 20px;}
/* footer */
footer{border-top: 1px solid black; width:100%; height:60px; position:absolute; bottom:0; text-align: center; color: white;}